In [1]:
import os;
import sys;
sys.path.append("venv")

In [12]:
import pandas as pd
pd.read_parquet('../WSE_marketdata.parquet', engine='pyarrow')

,timestamp,symbol,bid_price,bid_size,ask_price,ask_size,market_period,trade_price,trade_volume,type
0,2024-01-22 05:04:15,SIM,2.78,276.0,2.850,600.0,,NaN,NaN,Quote
1,2024-01-22 08:30:30,SIM,2.79,1000.0,2.850,600.0,COCA,NaN,NaN,Quote
2,2024-01-22 09:01:02,SIM,2.79,1000.0,2.820,36.0,COCO,NaN,NaN,Quote
3,2024-01-22 09:40:30,SIM,2.79,1000.0,2.820,31.0,COCO,NaN,NaN,Quote
4,2024-01-22 09:40:30,SIM,NaN,NaN,NaN,NaN,None,2.82,5.0,Trade
...,...,...,...,...,...,...,...,...,...,...
645580,2024-01-22 16:36:15,RES,0.57,1000.0,0.598,5000.0,COCO,NaN,NaN,Quote
645581,2024-01-22 16:36:15,RES,NaN,NaN,NaN,NaN,None,0.59,4500.0,Trade
645582,2024-01-22 16:37:38,RES,0.57,1000.0,0.592,1300.0,COCO,NaN,NaN,Quote
645583,2024-01-22 16:43:08,RES,0.57,1000.0,0.590,4500.0,COCO,NaN,NaN,Quote
645584,2024-01-22 17:04:00,RES,0.57,1000.0,0.600,10231.0,LTAL,NaN,NaN,Quote

In [11]:
from regionConfig.WSE import WSE
# Spread sizes

import aggregator
import filters


class SpreadByTickSizeAggregate(aggregator.Aggregate):
    def __init__(self, region):
        self.last_bid = 0.0
        self.last_ask = 0.0
        self.region = region
        self.tick_series = []

    def on_quote(self, quote):
        self.spread = quote.ask_price - quote.bid_price

    def on_trade(self, trade):
        tick_size = self.region.get_tick_size(trade.trade_price, trade.symbol)
        if tick_size != 0:
            self.tick_series.append(self.spread / tick_size)

    def compute_slice(self, slice):
        if len(self.tick_series) == 0:
            return 0

        value = sum(self.tick_series) / len(self.tick_series)
        return value



agg = aggregator.Aggregator("../WSE_marketdata.parquet","../WSE_symbology.parquet", WSE(),filters.SymbolFilter('PKO'))
agg.registerAggregate(SpreadByTickSizeAggregate)
aggs = agg.run()
aggs

   symbol     slice         aggregate       value
0     PKO  09:00:00  SpreadByTickSize    0.000000
1     PKO  09:05:00  SpreadByTickSize  574.009901
2     PKO  09:10:00  SpreadByTickSize  501.672862
3     PKO  09:15:00  SpreadByTickSize  404.755784
4     PKO  09:20:00  SpreadByTickSize  349.823633
..    ...       ...               ...         ...
78    PKO  15:30:00  SpreadByTickSize  115.494986
79    PKO  15:35:00  SpreadByTickSize  115.273958
80    PKO  15:40:00  SpreadByTickSize  115.050833
81    PKO  15:45:00  SpreadByTickSize  114.649086
82    PKO  15:50:00  SpreadByTickSize  114.547425

[83 rows x 4 columns]

In [12]:
import datetime
time = datetime.time(15,50,00)
aggs.query('slice == @time')
#aggs.query('symbol == "PKO"')

   symbol     slice         aggregate       value
82    PKO  15:50:00  SpreadByTickSize  114.547425

In [14]:
import sys
import aggregator
import filters


class volumeAggregate(aggregator.Aggregate):
    def __init__(self):
        self.volume = 0

    def on_quote(self, quote):
        pass

    def on_trade(self, trade):
        self.volume += trade.trade_volume

    def compute_slice(self, slice):
        ret = self.volume
        self.volume = 0
        return ret


agg = aggregator.Aggregator("../WSE_marketdata.parquet","../WSE_symbology.parquet", filters.SymbolFilter('PKO'))
agg.registerAggregate(volumeAggregate)
agg.run()

Empty DataFrame
Columns: [symbol, slice, aggregate, value]
Index: []